<%#<h1>Posts#write</h1>%>
<%#<p>Find me in app/views/posts/write.html.erb</p>%>

<p><%= flash[:alert] %></p>
<h2>Add a new restaurant.</h2>

<form action="/posts/write_done" method="post" enctype="multipart/form-data">
    <p>Category:
        <select name="post_category">
            <option value="Korean">Korean</option>
            <option value="Japanese">Japanes</option>
            <option value="Chinese">Chinese</option>
            <option value="Western">Western</option>
        </select>
    </p>
    <p>Title: <input type="text" name="post_title" placeholder="Enter a title.." /></p>
    <p>Content: <textarea name="post_content" rows="8" cols="40"></textarea></p>
    <p>Photo Upload: <input type="file" name="image" /></p>
    <input type="submit" value="Submit" />
</form>
